<!DOCTYPE html>
<html ng-app="App01">
  <head>
    <title>App01</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-controller="App01.ctrl as App01MainCtrl">
    
    <div id="wrapper" ng-cloak>
        <h3 class="main_title" ng-bind="App01MainCtrl.title"></h3>
        <button value="list" ng-click="App01MainCtrl.goState('list');">list</button>
        <button value="detail" ng-click="App01MainCtrl.goState('detail');">detail</button>
        <div ui-view></div>

    </div>
    

    <!--SCRIPTS_BASE-->
    <script src="/js/dependencies/sails.io/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.3/jquery-1.11.3.min.js"></script>
    <script src="/js/dependencies/jquery.transit/jquery.transit.min.js"></script>
    <script src="/js/dependencies/underscore/underscore-min.js"></script>
    <script src="/js/dependencies/angular.1.4/angular.min.js"></script>
    <script src="/js/dependencies/angular-ui-router-0.2.15/angular-ui-router.min.js"></script>
    <!--SCRIPTS_BASE END-->

    <!--SCRIPTS_APP01-->
    <script src="/app01/comp/detailComp.js"></script>
    <script src="/app01/comp/listComp.js"></script>
    <script src="/app01/app01.js"></script>
    <!--SCRIPTS_APP01 END-->

    <!--SCRIPTS_APP01_ALL-->
    
    <!--SCRIPTS_APP01_ALL END-->

   
  </body>
</html>
