<div class="page_container list" >
	<h3>안녕 detail</h3>
	<ul class="list">
		<li>
			<span class="list_name">name_01 :: id_01</span>
			<button  value="name_01">name_01</button>
		</li>

		<li>
			<span class="list_name">name_01 :: id_01</span>
			<button  value="name_01">name_01</button>
		</li>

		<li>
			<span class="list_name">name_01 :: id_01</span>
			<button  value="name_01">name_01</button>
		</li>

		<li>
			<span class="list_name">name_01 :: id_01</span>
			<button  value="name_01">name_01</button>
		</li>

		<li>
			<span class="list_name">name_01 :: id_01</span>
			<button  value="name_01">name_01</button>
		</li>

		<li>
			<span class="list_name">name_01 :: id_01</span>
			<button  value="name_01">name_01</button>
		</li>
	</ul>
</div>
